@{
    ViewData["Title"] = "Home Page";
}

<div>
    <input type="text" name="firstName" placeholder="Adınız" /> <br />
    <input type="text" name="lastName" placeholder="Soyadınız" /> <br />
    <input type="text" name="company" placeholder="Çalıştığınız Şirket" /> <br />
    <input type="text" name="phoneNumber" placeholder="Telefon Numarası" /> <br />
    <input type="text" name="eMail" placeholder="E Postanız" /> <br />
    <input type="text" name="location" placeholder="Konumunuz" /> <br />
    <button type="submit"> Kaydet </button>
</div>

<div>
    <a href="#">Veri Listele</a>
</div>
